


.media
{
	display:flex;
	flex-direction: row;
	margin: 40px 0px;
}

h1
{
	display:flex;
	justify-content:center;
	margin-top:15px;
	text-align:center;
}

h5
{
	margin-top:10px;
}

img {
	cursor: zoom-in;

}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding:0px;
  margin-bottom:15px;
  box-shadow: 6px 6px 10px #aaa;
}

.row
{
	justify-content:center;
}

.d-lg-none
{
	padding:10px 20px;
}

.mapIcon
{
	display:flex;
	justify-content:end;
}

