

body
{
	background:url(../img/brickwall/brickwall.png) repeat;
}




.media
{
	display:flex;
	flex-direction: row;
	margin: 40px 0px;
}

h2
{
	
	
	text-align:center;
}





.img-fluid {
  max-width: 100%;
  height: auto;
  padding:0px;
  margin-bottom:15px;
  box-shadow: 6px 6px 10px #aaa;
}

.row
{
	justify-content:center;
}

.d-lg-none
{
	padding:10px 20px;
}


.btn
{
	border:none;

}

.mapicon
{
	display:flex;
	flex-direction:row-reverse;
}

.fa-thumbs-up
{
	color:blue;
	margin:0px 12px;
}

.fa-map-marked-alt
{
	color:darkgray;
}

.fa-map-marked-alt:hover
{
	color:gray;
}

.sentence
{
	text-align: center;
	margin-top:40px !important;
	
}