

p{
    font-size:20px;
}

.embed-responsive 
{
    margin-top: 24px;
}


h2
{
display: flex;
justify-content:center;
margin-top: 20px;

}

h3
{
    display: flex;
    justify-content:center;
    margin-top: 50px;
}

.card 
{
    border: none;
}



.border-rigth-gray
{
    border-left: 2px solid gray;
    
    
}


.img-end
{
    width: 550px;
    margin-left:250px;
}


.card-img-top
{
    width: 100px;
    margin-left:50px;
    
}
article
{
   margin-right: 110px;
}