
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Cormorant+Garamond|EB+Garamond');

body
{
    background-image: url(http://redac.cuk.ch/archives_v3/5115/Casqueclat.jpg);
    background-attachment: fixed;
    
}

.container 
{
    background-color: rgb(236,236, 236,0.9);
    
}
footer 
{
    background-color: rgb(236,236, 236)
    
}
header 
{
    background-color: rgb(236,236, 236)
    
}
.card 
{
    background-color: rgb(236,236, 236,0.1);

    
}

p{
    font-size:20px;
    font-family: 'Cormorant Garamond', cursive;
    
}
.embed-responsive 
{
    margin-top: 44px;
    box-shadow: 5px 5px 5px #aaa;
}

.border-rigth-gray
{
    border-left: 2px solid gray;
}


.card-img-top
{
     width: 170px;
     margin-left: auto;
     margin-right: auto;
    
}
.card
{
    border:none;
    margin-left: auto;
    margin-right: auto;
}
.card-body
{
     
     margin-left: auto;
     margin-right: auto;
    
}


.img-fluid

{
    box-shadow: 6px 6px 10px #aaa;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    
}
h1
{
    font-family: 'Amatic SC', cursive;
    font-size:150px;
}
h2 
{
    font-family: 'Caveat', cursive;
    display: flex;
    justify-content:center;
    margin-top: 20px;
}
span
{
    font-size: 60px;
}
.logowildo
{
    width: 100px;
    border-radius: 30px;
}
.btn-secondary
{
    background-color:rgb(230,236, 336,0.5); 
    border: solid white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}
.icone
{
    border: solid white;
    display: flex;
    margin-left: auto;
    margin-right: auto;   
}


